body
{
    background-color: rgb(64, 158, 247);
}
div.content{
    border: solid 1px black;
    width: 30%;
    margin-left: 30%;
}

#input{
    
    width: 99%;
    background-color: black;
    font-size: 250%;
    color: white;
    transition: 0.5s;
    
    
    
}

#input:hover{
    background-color: white;
    color: black;
    
    
}
#bt{
    margin-left: 47%;
    
}

#bt:hover{
    margin-left: 0;
    width: 100%;
}

#todo{
    font-size: 35px;
    background-color: rgb(60, 58, 58);
    color: white;
}


div.todos{
    background-color: rgb(0, 132, 255);
    margin-top: 2%;
    border: solid 1px black;
    width: 30%;
    margin-left: 30%;
    
}